*.*sdf
*.suo
*.user
*.log
*.pch
*.bak
*.orig
*.*obj
*.tlog
*.*pdb
**/Release/*
*/**/Release/*
**/Debug/*
*/**/Debug/*
*/**/ARM/**/*
*/**/ARM/*
**/ARM/*
*/**/arm/*
*/**/lib/*
**/ipch/*
ipch/*
Bin
obj
ARM
